<div class="area-login-background d-none d-md-block"></div>

<div class="area-form">
  <form>
    <h1 class="titulo">AUTOMA</h1>
    <h2 class="subtitulo">Mais eficiência e controle do negócio</h2>

    <input [(ngModel)]="userName" [ngModelOptions]="{ standalone: true }" class="input-login" type="text" placeholder="Digite seu nome">

    <app-button [textButton]="'Acessar'" (click)="login()" [size]="'100'"></app-button>
  </form>

  <p class="footer">© 2024 | Desenvolvido por Automa Systems</p>
</div>
