<nav class="sidemenu">
  <ul>
    <li>
      <img src="../../../assets/logo.png" alt="" width="40px">
      <span class="logo">Usuários</span>
    </li>
    <li routerLink="/home">
      <mat-icon>home</mat-icon>
      Home
    </li>
    <li routerLink="/usuarios">
      <mat-icon>person_add</mat-icon>
      Cadastrar usuários
    </li>
    <a href="https://firebase.google.com/docs?gad_source=1&gclid=CjwKCAjw48-vBhBbEiwAzqrZVEDn-FQRUtKT6tGwdYmB_7ZNyZhHQDivuPXCvwl_H_o7A3fscPvYPxoCMXEQAvD_BwE&gclsrc=aw.ds&hl=pt-br" target="_blank"><li>
      <mat-icon>local_fire_department</mat-icon>
      Firebase
    </li></a>
    <a href="https://angular.io/docs" target="_blank"><li>
      <mat-icon>description</mat-icon>
      Angular
    </li></a>
    <li routerLink="/login" class="logout">
      <mat-icon>logout</mat-icon>
      Sair
    </li>
  </ul>
</nav>
